<h1 class="header">Yours to-do lists:</h1>
<div class="form-inline">
  <input #listName type="text" placeholder="New list name ..." class="form-control">
  <button (click)="addList(listName.value); listName.value = ''" class="btn btn-primary">Add</button>
</div>
<ul  class="lists">
  <li class="list" *ngFor="let list of lists;">
    <a routerLink="/list-details/{{list.id}}" class="list-link">{{ list.name }}</a>
    <button (click)="deleteList(list);" class="btn btn-danger">delete</button>
  </li>
</ul>
