<!-- <div *ngIf="list"> -->
  <h1 class="header">'{{list.name}}' list</h1>
  <button (click)="goBack()" class="btn btn-primary">Go back</button>
  <div class="form-inline">
    <input #taskName placeholder="I want to ..." class="form-control">
    <button (click)="addTask(taskName.value); taskName.value=''" class="btn btn-success">Add</button>
  </div>
  <ul class="tasks">
    <li *ngFor="let task of list.tasks;"  class="task">
      <span [class.done]="task.done === true" class="task-content">{{ task.name }}</span>
      <button (click)="markAsDone(task); " class="btn btn-secondary">done</button>
      <button (click)="deleteTask(task);" class="btn btn-danger">delete</button>
    </li>
  </ul>
<!-- </div> -->
